div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
/*    display: flex;*/
}

.column {
	display:flex;
	width:14%;
    display:inline-block;
    border: 1px solid #000;
    height:9em;
}

.color {
	background-color: grey;
}